/* ====== General Styling ======= */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F1E2D4;
}

nav,
footer{
    background-color: #D5CFCA; 
}

p,label,input, td{
    font-family: "warnock-pro-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #1e1e1e;
}

h1{
    font-family: "broadacre-medium-0", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #1e1e1e;
    text-align: center;
    text-transform: uppercase;
}

h2,h3{
    font-family: "broadacre-regular-0", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #1e1e1e;
    text-transform: uppercase;
}

h3 a{
    color: #1e1e1e;
}

.btn{
    font-family: "broadacre-regular-0", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    background-color: #C67FB2;
    color: white;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.btn:hover{
    color:#C67FB2;
    background-color: white;
    border: #C67FB2 2px solid;
}

img.main-logo {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

a{
    text-decoration: none;
}

nav ul {
    padding: 2em 1.5em;
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: space-between;
}

nav ul li a{
    font-family: "broadacre-regular-0", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: #1e1e1e;
    display: block;
}

a.nav-logo{
    font-family: "broadacre-light-2", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    color: #1e1e1e;
}

footer p{
    text-align: center;
    padding: 50px 0;
}

footer {
    bottom: 0;
    width: 100%;
}

input{
    border: none;
    border-bottom: 2px solid #C67FB2;
    background: none;
    padding:0 10px;
}

input:focus{
    outline: none;
    background: none;
}

.main-content{
    padding: 50px 0;
}

.header-image{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* ====== Sign Up ======= */

.password-reminder{
font-style: italic;
    padding-top: 2em;
}

/* ====== Login ======= */

.form-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

.form-input{
    padding: 10px 0;
}

.form-input input{
    text-align: center;
}

.form-input input::placeholder {
    color: #1e1e1e;
    opacity: 1;
}

/* ====== Logged In User Home ======= */

.home-nav-options a svg{
    font-size: 100px;
    margin: 0 auto;
    display: block;
}

.home-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.home-nav-options{
    padding: 30px 50px;
}

.home-nav-options h3{
    padding-top: 20px;
}

/* ====== To Do List + Shopping List ======= */

.input-entry{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.input-entry input{
    text-align: center;
}

.list-table th{
    display: none;

}

table{
    width: 100%;
}

.list-table td{
    display: grid;
    grid-template-columns: 12ch auto;
}

.list-table td::before{
    content: attr(data-cell) ": ";
    font-family: "broadacre-regular-0", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #EB8B8F;
    text-transform: uppercase;
}

.list-table td:first-child{
    padding-top: 2rem;
}

.completed-items {
    padding: 2rem;
    background: #D3D3D3;
    margin-top: 2rem;
}

.completed-items h2 {
    padding-bottom: 2rem;
}

td::first-letter{
    text-transform: capitalize;
}

.completed-items ul {
    list-style: none; 
    max-width: 50%;
    margin: 0 auto;
  }
  
.completed-items ul li::before {
    content: "\2022"; 
    color: #EB8B8F; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
  }

.completed-items ul li::first-letter{
    text-transform: capitalize;
  }

.input-entry {
    max-width: 60%;
    margin: 0 auto;
}

hr{
    border: 2px dotted #EFAF7A;
    margin-top: 2rem;
}

.list-area{
    padding: 2rem;
    background: #E1E9E9;
    margin-top: 2rem;
}

p.shortened-link{
    text-align: center;
    font-weight: 700;
}

/* ====== Media Queries ======= */

@media (min-width: 650px){

    .nav-item-push{
        margin-left: auto;
    }

    a.home-link {
        padding-right: 2em;
    }

    .list-table td{
        display: revert;
    }

    .list-table th{
        display: revert;
        font-family: "broadacre-regular-0", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        color: #EB8B8F; 
        text-transform: uppercase;
    }

    .input-entry{
        flex-direction: row;
    }

    .list-table td::before{
        display: none;
    }

    .list-table td {
        padding: 0.5rem 0.5rem;
    }

    .list-control{
        text-align: center;
    }

    .list-table td:first-child{
        padding-top: 0.5em;
    }

    input#taskentry,
    input#link-entry {
        width: 60%;
}

.list-area-complete .list-table td {
    text-align: center;
}
}